html{
    --primary-background:#ffedd5;
    --primary-color-button:#f97316;
    --primary-section-background: #FAFAF9;

}



.image {
    background-image: url(hero.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
  }

 

  .content {
      max-width: 1024px;
      height: 850px;
      margin-left: auto;
      margin-right: auto;

     
  }
  .cap{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   
  }

  @media (max-width: 390px){
      .cap{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
  }
    


  .element{
   width: 100px;
   height: 100px;
   display: flex;
   object-position: left;
   object-position: right;
  }

  .logo {
  width: 100px;
  height: 100%;
  object-fit: cover;
  }


  .link{
     margin: auto;
  }


  .link1{
      color: #44403C;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 15px;
      opacity: 70%;
     padding: 15px;
     text-decoration: none;
  }


  .telephone{
    display: flex;
    align-items: center;
  }

  .header{
     max-width: 400px;
     display: flex;
     flex-direction: column;
     padding-top: 60px;
     padding-bottom: 30px;
     position: left;
    
  }


  .text{
      color:black;
      font-size: 45px;
      text-align: left;
      padding-bottom: 30px;
      font-family: 'Nunito Sans', sans-serif;
     }

     @media (max-width: 390px){
       .text{
           font-size: 30px;
           
       }
     }

    .text-2{
    font-size: 20px;
    color: #44403C;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 390px){
    .text-2{
        font-size: 15px;
        
    }
  }

     .telephone1{
         color:#44403c ;
         font-size: 20px;
         padding-left: 20px;
         text-align: left;
     }

     .button{
         display: flex;
         justify-content: left;
         border: none;
         margin-top: 50px;
     }


   .orange-button {
       background-color: var(--primary-color-button);
       color: white;
       font-size: 20px;
       font-family: 'Nunito Sans', sans-serif;
       padding: 20px;
       border-radius: 10px;
       border: none;
   }
   .orange-button:hover {
       background-color: #EA580C;
   }
   .two-header {
      display: flex;
      justify-content: center;
      padding-top: 45px;
      padding-bottom: 40px;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 40px;
      font-weight: 600;
      color: black;
   }
   .container{
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   @media (max-width: 390px){
       .container{
           display: flex;
           flex-direction: column;
           margin: 0 auto;
       }
     
   }

   .advantage{
       background-color: var(--primary-section-background);
       margin: 15px;
       border-radius: 25px;
       padding: 20px;
       font-size: 15px;
       font-family: 'Nunito Sans', sans-serif;
   }
   .orange-icons{
       width: 45px;
       height: 45px;
       background-color: var(--primary-color-button);
       border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
   }
   .icons{
       width: 30px;
       height: 30px;
   }
   .speech{
       padding-top: 20px;
       font-size: 20px;
       font-family: 'Nunito Sans', sans-serif;
       font-weight: 600px;
       text-align: center;
       color: #1c1917;
   }
   .skills{
       padding-top: 20px;
       padding-bottom: 30px;
       font-size: 16px;
       font-family: 'Nunito Sans', sans-serif;
      text-align: center;
      color: #57534e;
   }


   .confidence{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
   }

   @media (max-width: 390px){
       .confidence{
           display: flex;
           flex-direction: column;
           margin: 5px 0;
       }
      
   }

   .pluses{
       padding-top: 80px;
       padding-bottom:30px;
       width: 50%;
      
   }

   @media (max-width: 390px){
       .pluses{
           width: 100%;
           padding: 10px;
       }
   }
   .icons-people{
       padding-top: 80px;
       width: 50%;
    }
       @media (max-width: 390px){
           .icons-people{
               width: 100%;
               padding: 5px 0;
           }
       }
   
   .people-logo{
       width: 100%;
   }
   .record{
       background-color: var(--primary-background);
       
   }
   .lesson{
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 40px;
      
   }

   .subtitle1{
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
   }

   @media (max-width: 390px) {
       .subtitle1{
           text-align: center;
           font-size: 20px;
       }
       .text-color{
           padding: 5px 0;
           
       }
     
   }

   .text-color{
       color:#78716c ;
       padding-top: 15px;
       padding-bottom: 15px;
       font-size: 17px;
       text-align: left;
       font-family: 'Nunito Sans', sans-serif;
   }
 
   .recording_input{
       max-width: 1024px;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       flex-direction: row;
       justify-content: center;
       padding-top: 50px;
       padding-bottom: 40px;
       border: none;
   }

   @media (max-width: 390px){
       .recording_input{
           display: flex;
           flex-direction: column;
         align-items: center;
         padding: 10px 0;
        
       }
     #name{
         margin: 5px 0;
     }
    
   }

   #name{
       padding: 15px;
       text-align: left;
       font-size: 15px;
       font-family: 'Nunito Sans', sans-serif;
       border-radius: 10px;
       margin-right: 20px;
       border-color: #d6d3d1;
       border: none;
   }

   .button2{
    display: flex;
    justify-content: center;
    border: none;
}

.orange-button2 {
  background-color: var(--primary-color-button);
  color: white;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 10px;
  border: none;
}

.orange-button2:hover {
    background-color: #EA580C;
}

.background{
    background-color: var(--primary-section-background);
    padding: 20px;
    
}
   .reviews{
       max-width: 1024px;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       font-weight: 400px;
       font-size: 25px;
       font-family: 'Nunito Sans', sans-serif;
   }

  
   .reviews2{
      padding: 0 200px;
       margin-left: auto;
       margin-right: auto;
       text-align: left;
       font-size: 18px;
       font-family: 'Nunito Sans', sans-serif;
   }
   @media (max-width: 390px){
    .reviews2{
     padding: 0 15px;
    }
}

   .last{
    padding-top: 25px;
}

   .underline{
     border-bottom: #78716c solid 1px;
     padding-top: 10px;
     padding-bottom: 20px;
     color: #78716c;
     font-family: 'Nunito Sans', sans-serif;
   }

   .subscription{
       max-width: 1024px;
       text-align: center;
       font-size: 25px;
       font-weight: 400px;
       padding-top: 40px;
       padding-bottom: 60px;
       margin-left: auto;
       margin-right: auto;
       font-family: 'Nunito Sans', sans-serif;
       
   }

   @media (max-width: 390px){
    .subscription{
  
        
    }
}

   .text-color_2{
    color:#78716c ;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
   }

   .conditions{
       display: flex;
       flex-direction: row;
      justify-content: center;
      
   }

   @media (max-width: 390px){
       .conditions{
           display: flex;
           flex-direction: column;
           
           
       }
   }

   .conditions_one{
       width: calc(100% / 3 - 30px);
       margin: 15px;
       border:#d6d3d1 solid 2px;
       border-radius: 15px;
       padding: 15px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       box-sizing: border-box;
       
   }

   @media (max-width: 390px){
       .conditions_one{
           width: calc(100% / 1 - 30px);
           margin: 15px;
       }
   }


   .months{
       padding: 10px 0;
       font-size: 15px;
       color: var(--primary-color-button);
       text-align: left;
      
   }

   .cost{
       
       font-size: 20px;
       font-weight: 600px;
       color: black;
       text-align: left;
   }

.quantity{
    padding: 15px 0;
}

   .button3{
    display: flex;
    justify-content: center;
    border: none;
   
   }
   

.orange-button3 {
  background-color: var(--primary-background);
  color: var(--primary-color-button);
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 45px;
  border-radius: 5px;
  border: none;

}
.orange-button3:hover {
  background-color: #fed7aa;
}

.common{
    color: #65a30d;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0;
    
}

.check {
    padding-top: 5px;
    padding-left: 15px;
    color: #78716c;
    font-size: 13px;
    
}

.social-links{
  background-color: #d6d3d1;
}


.social-links__item{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

@media (max-width: 390px){
    .social-links__item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.telephone1{
  
   display: flex;
    align-items: center;
    
}

    
.telephone2{
    color:#44403c ;
    font-size: 20px;
   padding-left: 15px;
}

.social-network{

   
    
}

.networks{
    width: 30px;
    height: 30px;
    padding: 15px;
}

.mail{
    color:#44403c ;
    font-size: 20px;
    
}
