.image {
    background-color: red;
  background-image: url(hero.jpg);
  height: 850px;
  background-position: center;
  background-size: cover;
}

.content {
   
    width: 1024px;
    height: 850px;
    margin-left: auto;
    margin-right: auto;
}

.element{
 width: 100px;
 height: 100px;
 display: flex;
 object-position: top;
 object-position: left;
}

.logo {
width: 100px;
height: 100px;
object-fit: cover;
}

.link{
    background-color: rgb(230, 31, 170);
    width: 1000px;
    padding: 0px;
    margin: auto;

}
a {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    opacity: 70%;
    padding: 15px;
 
}

#text{
    color: black;
    font-size: 50px;
    font-weight: 400px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 100px;
    margin-left: 50px;
   }
   
   .title {
       
   }